{% extends "task_list/index.html.twig" %}
{% block card_header_title %}
    <i class="fas fa-fw fa-tasks"></i>
    <span>Listę zadań dla projektów którego procent realizacji jest powyżej 50% oraz data utworzenia zadania jest większa niż miesiąc wstecz</span>
{% endblock %}